/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}
article:first-child{
	color: #fff;
	background-color: #000;
}
article:nth-child(2){
	color: #000;
}
article:last-child{
	color: red;
}
ul{
	width: 50%;
}
li{
	padding: 10px;
}
li:first-child,li:nth-child(5){
	background-color: #fff;
	font-size: 22px;
}
li:nth-child(odd){
	background-color: #fff;
}
li:nth-child(even){
	background-color: grey;
}
li:nth-last-child(3){
	background-color: pink;
}
